html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #CA9660 url("../../public/img/bg-main2.jpg") no-repeat;
    background-size: 100%;
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    background: rgba(101, 164, 73, 0.75);
    min-width: 50px;
    z-index: 999;
}
.header img {
    float: left;
    width: 36px;
    height: 36px;
    margin-top: 7px;
    margin-left: 7%;
}
.header li {
    display: inline;
}
.header a {
    text-decoration: none;
    color: white;
    padding: 13px 25px;
}
.header li a:hover {
    text-decoration: none;
    background-color: #eee;
    color: grey;
    border-radius: 3px;
}
.header ul {
    float: left;
    margin-right: 13%;
    list-style: none;
}
.login_bot {
    position: fixed;
    right: 5%;
    top: 16px;
}
.start{
    font-family: "Times New Roman", arial, serif;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -130px;
    margin-left: -280px;
    width: 560px;
    height: 260px;
    text-align: center;
    font-size: 28px;
    color: white;
}

.main {
    padding: 15px;
    position: absolute;
    border: 1px solid snow;
    background-color: rgba(238, 238, 238, 0.65);
    border-radius: 30px;
    width: 1000px;
    min-height: 70%;
    margin-left: -500px;
    left: 50%;
    top:100px;
}

.main h1, .main h2 {
    text-align: center;
    font-family: "Times New Roman", arial, serif ;
}
.mybottom p {
    float: left;
    cursor: pointer;
    width: 150px;
    color: white;
    padding: 13px 25px;
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
.mybottom span {
    float: right;
    width: 450px;
    font-size: 10px;
}
.popup input:last-child {
    box-shadow: none;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: orange;
}
.front {
    display: none;
    background: rgba(255,255,255,0.5);
    height: 100%;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}
.popup span {
    font-size: 12px;
}
.popup {
    display: none;
    position: fixed;
    background-color: white;
    height: 500px;
    width: 650px;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -250px;
    color: #000;
    padding: 20px 30px 30px;
    z-index: 1001;
    border-radius: 7px;
}
.popup input, .login input {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    width:220px;
    padding:5px 8px;
    height: 30px;
    margin: 5px 15px;
}
.login input {text-align: center}
.login {
    position: absolute;
    width: 220px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -100px;
}
.popup img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    float: right;
}
.popup label {
    width:200px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.career_left {
    float: left;
    width: 50%;
    height: 500px;
    text-align: justify;
    font-size: 14.5px;
    padding-right: 50px;
}
.career_left img {
    margin: 30px 0;
    width: 500px;
    height: 320px;
}
.career_right {
    padding-left: 50px;
    font-size: 13px;
}
.about {
    overflow-y: scroll;
    min-height: 400px;
    max-height: 580px;
}
.about td, .about th {
    text-align: justify;
    padding: 7px;
    border: solid 1px;
}
.about th { text-align: center;}