body {
margin: 0;
padding: 0;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
border-top: 2px solid #2A4F6F;
background-image: url('fon.gif');
}
h1 { font: 150% Georgia, "Times New Roman", Times, serif;}
input {width: 200px;}
table caption{ font: 24px Georgia; }
table{width: 800px; border-collapse: collapse;}
th{background: black; color: white;}
tr:nth-child(even){background: #f3f3f3}
tr:nth-child(odd){background: #ddd}
td:nth-child(n+2), th:nth-child(n+2){width: 120px; text-align: center;}
td:nth-child(1) {width: 100%; text-align: center; background: yellow;}

#nav{
position: absolute;
top: 5em;
left: 1em;
width: 14em;
}
#nav ul {
list-style: none;
margin-left: 1em;
padding-left: 0;
}
#nav li {
font-size: 90%;
/*border-bottom: 1px dotted #B2BCC6;*/
margin-bottom: 0.3em;
}
#nav a:link, #nav a:visited {
text-decoration: none;
color: #2A4F6F;
background-color: transparent;
}
#nav a:hover {
color: #778899;
}
#nav h2 {
font: 110% Georgia, "Times New Roman", Times, serif;
color: #2A4F6F;
background-color: transparent;
/*border-bottom: 1px dotted #cccccc;*/
}
#content {
margin-left: 16em;
margin-right: 2em;
text-align: justify;
height: calc(100vh - 80px);
}
#footer{
clear: both;
text-align: center;
border-top: 1px dotted #B2BCC6;
margin-top: 10px;
font: 90% Georgia, "Times New Roman", Times, serif;
color: #2A4F6F;
background-color: transparent;
}
#mypanel {
    position: fixed;
    width: 200px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -100px;
    color: #2A4F6F;
}
#dashed-line {
    margin-top: 0;
    position: absolute;
    margin-left: 13em;
    width: 0;
    height: 99.8%;
    border: 0;
    border-left: 2px solid red;
}