html body {
    margin: 0;
    padding: 0;
    background: transparent url("../img/bg.png") repeat-x scroll 100% 0;
}

#body {
    padding: 0;
    margin: 0 auto;
    max-width: 990px;
    min-width: 990px;
    width: 100%;
}

#basket {
    position: absolute;
    padding: 5px;
    margin-left: 790px;
    font-family: "Times New Roman";
    font-size: 120%;
    border: 1px dotted #d65c5c;
    color: #656363;
}

#header {
    max-width: 500px;
    border: 1px dotted #d65c5c;
}

#topmenu {
    border-bottom: 2px solid #ebebeb;
    border-top: 2px solid #dfdfdf;
}
#topmenu ul {
    font-family: "Times New Roman";
    list-style: none;
    margin: 5px auto;
    padding-left: 0;
    text-align: center;
    border: 1px dotted #d65c5c;
}
#topmenu ul li {
    display:inline-block;
    font-size: 150%;
    padding-left: 10px;
    padding-right: 10px;
}
#topmenu li a { text-decoration: none; }
#topmenu li a:visited, #topmenu li a:active, #topmenu li a:link { color: #999999; }
#topmenu li a:hover { color: #656363; }

#right_menu {
    width: 197px;
    position: absolute;
    margin-left: 791px;
    border: 1px dotted #d65c5c;
    color: #585858;
}
#right_menu  ul { list-style: none; }

#showHere {
    padding: 10px 0;
    color: #585858;
    border: 1px dotted #d65c5c;
}

#main {
    max-width: 770px;
    margin: 0 0 3em 0;
    padding: 10px;
    border: 1px dotted #d65c5c;
    text-align: justify;       /* Выравнивание текста по ширине блока*/
}
#main h2 {
    text-align: center;
    color: #d65b5b;
    font-size: 100%;
    font-family: "Times New Roman",arial,serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
}

#footer {
    position: fixed;
    clear: both;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    font: 90% Georgia, "Times New Roman", Times, serif;
    color: #fbfbfb;
    background-color: #585858;
    height: 2em;
    width: 100%;
    bottom: 0;
}
#footer a:visited, #footer a:active, #footer a:link { color: #fbfbfb; }
#footer a:hover { color: #d65c5c; }
