html body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, Helvetica;
    font-size: 76%;
    text-align: center;
    background: transparent url("../img/bg.png") repeat-x scroll 100% 0;
}

.body {
    text-align: left;
    margin: 0 auto;
    max-width: 990px;
    min-width: 990px;
    padding: 0;
    width: auto !important;
}

.basket {
    position: absolute;
    left: 70%;
    top: 0;
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 1px 2px #c0c0c0;
    margin: -1px 0 0;
    padding: 10px;
    color: #656363;
    font-size: 15px;
    line-height: 21px;
    cursor: pointer;

}

.basket_order {
    background: #999999 url("../img/icon-cart.png") no-repeat scroll 10px center;
    color: #fff;
    float: left;
    margin: 0;
    padding: 3px 18px 2px 36px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.basket_arr {
    background: #d65c5c url("../img/icon-down.png") no-repeat scroll center center;
    display: inline-block;
    height: 26px;
    width: 30px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.header {
    max-width: 500px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.topmenu {
    border-bottom: 2px solid #ebebeb;
    border-top: 2px solid #dfdfdf;
}
.topmenu ul {
    font-family: "Times New Roman";
    font-size: 115%;
    list-style: none;
    margin: 5px auto;
    padding-left: 0;
    text-align: center;
}
.topmenu ul li {
    display:inline-block;
    font-size: 150%;
    padding-left: 10px;
    padding-right: 10px;
}
.topmenu li a { text-decoration: none; }
.topmenu li a:visited, .topmenu li a:active, .topmenu li a:link { color: #999999; }
.topmenu li a:hover { color: #656363; }

.right_menu {
    display:inline-block;
    text-align: left;
    white-space: nowrap; /*устанавливает, как отображать пробелы между словами*/
    width: 20%;
    color: #585858;
}

.rm_top img, .rm_tree img{
    border: 0 none;
    vertical-align: middle; /*Выравнивает элемент по вертикали относительно своего родителя, окружающего текста или ячейки таблицы.*/
}
.rm_top a, .rm_tree a {text-decoration: none; color: #585858;} /* Убираем подчеркивание у ссылок */
.rm_top a:hover,.rm_tree a:hover {text-decoration: underline;} /* Добавляем подчеркивание при наведении курсора мыши на ссылку */

.showHere {
    padding: 10px 0;
    position: relative;
}
.showHere a {text-decoration: none; color: #585858;}
.showHere a:hover {text-decoration: underline;}

.main {
    float: left;
    max-width: 77.5%;
    margin: 0 0 3em 0;
    padding: 10px;
    text-align: justify;       /* Выравнивание текста по ширине блока*/
}
.main h2 {
    text-align: center;
    font-size: 120%;
    color: #d65b5b;
    text-shadow: 1px 1px 1px #fff;
    font-family: "Times New Roman",arial,serif;
    text-transform: uppercase;
}
.main p {
    text-indent: 15px;
}

.footer {
    position: fixed;
    clear: both;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    font: 90% Georgia, "Times New Roman", Times, serif;
    color: #fbfbfb;
    background-color: #585858;
    height: 2em;
    width: 100%;
    bottom: 0;
}
.footer a:visited, .footer a:active, .footer a:link { color: #fbfbfb; }
.footer a:hover { color: #d65c5c; }
