html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("bg-main.jpg") no-repeat;
    background-size: 100%;
}

.header {
    position: fixed;
    right: 0;
    left: 0;
    background: rgba(101, 164, 73, 0.75);
    min-width: 50px;
}
.header img {
    float: left;
    width: 190px;
    height: 36px;
    margin-top: 7px;
    margin-left: 7%;
}
.header li {
    display: inline;
}
.header a {
    text-decoration: none;
    color: white;
    padding: 13px 25px;

}
.header a:hover {
    text-decoration: none;
    background-color: #eee;
    color: grey;
}
.header ul {
    float: right;
    margin-right: 13%;
    list-style: none;
}

.main {
    width: 500px;
    height: 250px;
    position: absolute;
    margin-top: -125px;
    margin-left: -250px;
    top: 70%;
    left: 50%;
}
.main h1 {
    text-align: center;
    font-family: "Times New Roman", arial, serif ;
    color: #000;
}